<div class="container">
    <div class="sidebar">
        <div class="main">
            <div class="logo">
                <img src="/img/logo.svg" alt="">
                <h1>Finances</h1>
            </div>
            <div class="links">
                <ul class="links-box">
                    <li class="link">
                        <i class='bx bxs-dashboard'></i>
                        <span>Dashboard</span>
                    </li>
                    <li class="link">
                        <i class='bx bxs-home'></i>
                        <span>Home</span>
                    </li>
                    <li class="link">
                        <i class='bx bxs-report'></i>
                        <span>Reports</span>
                    </li>
                    <li class="link">
                        <i class='bx bxs-cog'></i>
                        <span>Settings</span>
                    </li>
                 
                </ul>
            </div>
        </div>
        <button class="logout" (click)="logout()"><i class='bx bx-log-out' ></i>Logout</button>
    </div>
</div>